.cart {
  flex: 3;
  background-color: #15023a;
  color: white;
  text-align: center;
}

.cart h2 {
  margin: 3rem 0;
  font-size: 2.5rem;
  color: #cc282e;
}

.cart .btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.cart .btn-container span {
  font-size: 1.7rem;
  padding: 0.5rem 1.5rem;
  background-color: #cc282e;
  border-radius: 0.5rem;
  cursor: pointer;
}

.cart .btn-container span:first-child {
  background-color: #10a053;
  margin-bottom: 2rem;
}

.cart .bike-name {
  font-size: 2rem;
  margin: 0.5rem 0;
}
