.app h1,
h3.info {
  text-align: center;
}

.app h1 {
  font-size: 4rem;
}

.app .info {
  font-size: 2.5rem;
}

.app .section > * {
  padding: 5rem 9%;
}

/* media quearies */
@media (max-width: 1024px) {
  .app .section > * {
    padding: 5rem 5%;
  }
}

@media (max-width: 768px) {
  .app .section > * {
    padding: 5rem 3rem;
  }
}

@media (max-width: 450px) {
  .app .section > * {
    padding: 5rem 2rem;
  }
}
