.bikes {
  display: flex;
}

.bikes .bikes-container {
  flex: 9;
  padding-right: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

/* media quearies */
@media (max-width: 768px) {
  .bikes .bikes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .bikes {
    flex-direction: column-reverse;
  }
  .bikes .bikes-container {
    flex: 12;
    grid-template-columns: repeat(1, 1fr);
    padding-right: 0;
  }
  .bikes .cart {
    flex: 12;
  }
}
